/* reset */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}

body {
    position: relative;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

textarea,
input {
    appearance: none;
    background-clip: padding-box;
}

a,
ins,
del,
button {
    color: inherit;
    text-decoration: none;
}

ul,
menu {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

pre,
textarea {
    overflow: auto;
    max-width: 100%;
}

img {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

form {
    width: 100%;
}

button {
    cursor: pointer;
    overflow: visible;
}

textarea {
    resize: none;
}
pre,
code,
tt {
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;

    .phone({
        white-space: pre-wrap;
    })
}
pre {
    background-color: @code;
    border: 1px solid @border;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

pre code,
pre tt {
    background-color: transparent;
    border: none;
}


a {
    color: #4183C4;
    text-decoration: none;
}
